body {
    margin: 0;
    padding: 0;
    user-select: none;
    background-color: rgb(218, 236, 255)!important;
}

.game_win {
    display: none;
    overflow-x: hidden;
}

#win_window {

}

.number {
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    /* background-color: rgb(138, 246, 246); */
    background-color: white;
    border: 5px solid black;
    height: 100px;
    width: 100px;
    margin: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    /* padding: 10px; */
    transition: 0.2s;
    
    /* filter: blur(5px); */
    /* -webkit-filter: blur(5px); */
}

.empty {
    background-color: rgba(0,0,0,0);
    border: none;
}

#timer {
    text-align: center; 
    position: absolute; 
    top: 7%; 
    font-size: 40px;
    right: calc(50% - 200px);
}

#moveCount {
    text-align: center; 
    position: absolute; 
    top: 7%; 
    font-size: 40px;
    left: calc(50% - 200px);
}

@media (max-width: 454.5px){
    .number {
        width: 22%;
        margin: 0;
        font-size: 12vw;
    }
    #timer {
        right: 5%;
    }
    #moveCount {
        left: 5%;
    }
}