body {
    margin: 0;
    font-family: 'Alkatra', cursive;
    background-color: #1D1E27; 
    color: rgb(232, 228, 255);
}


a {
    color: rgb(168, 168, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(140, 140, 255);
}

.skills {
    margin: 10px 0;
}

.skill-image-zone {
    display: inline-block;
    position: relative;
    /* background-color: rgb(256, 256, 256, 0.2); */
    height: 200px;
    width: 30%;
}

.skill-description {
    display: inline-block;
    position: relative;
    text-align: left;
    /* background-color: rgb(160, 176, 195, 0.2); */
    height: 200px;
    width: 60%;
}

.topic {
    padding: 30px 50px 30px 370px;
}

@media (max-width: 780px){
    .topic{
        padding: 30px 50px;
    }
    #profile-left{
        display: none;
    }
}

.topic-head {
    margin: 0;
    margin-bottom: 20px;
}

.languages_logo {
    margin: 20px;
}

.timeline-section {
    /* background-color: #224; */
    padding-top: 30px;
    border-top: 4px solid white;
}

.timeline {
    background-color: rgb(80, 82, 180);
    display: inline-block;
    width: 40%;
    height: 120px;
    margin-left: 3%;
    padding: 14px;
    position: relative;
    border-radius: 10px;
}

.timeline::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    border: 10px solid white;
    top: -42px;
    left: 20px;
}

.timeline::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent rgb(80, 82, 180) transparent;
    border-width: 18px 10px;
    top: -36px;
    left: 20px;
}

.timeline-year {
    margin: 0;
    padding: 0;
}

.timeline-detail {
    position: absolute;
}

#profile-left {
    position: fixed;
    background-color: #111;
    height: 100%;
    width: 320px;
    text-align: center;
}

#profile-right {
    padding: 10px 0;
    text-align: left;
}

#resume-image {
    border-radius: 100%;
    width: calc(100% - 50px);
    text-align: center;
    margin: 25px;
    filter: brightness(1.2);
    filter: hue-rotate(0deg);
}

#myname {
    color: white;
    font-weight: bold;
    margin: 0;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(62, 62, 223); 
}